<nav class="navbar has-shadow is-link">
  <!--logo de la nav-->
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="https://res.cloudinary.com/dyq41tgzg/image/upload/v1718896525/familychat/familychat_logo_xgbin0.png" alt="familychat logo", style="max-height: 7rem;">
    </a>
  </div>
  <!-- menu de la navbar-->
  <div class="navbar-menu" id="nav-links">
    <div class="navbar-start">
      <a href="" class="navbar-item">My Perfil</a>
      <a href="" class="navbar-item">Grupos</a>
    </div>
  </div>
</nav>